<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Coffee Managment</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
            @if (userService.CurrentUser != null && userService.CurrentUser.Role == Role.Admin)
            {
                <NavLink class="nav-link" href="allproduct">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Product
                </NavLink>
            }
            @if (userService.CurrentUser != null && userService.CurrentUser.Role == Role.Admin)
            {
                <NavLink class="nav-link" href="sales">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sales
                </NavLink>
            }
            <NavLink class="nav-link" href="order">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Order
            </NavLink>
            <NavLink class="nav-link" href="login" @onclick="Logout">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Logout
            </NavLink>
        </div>
    </nav>
</div>
@code{
    @inject UserService userService

    @inject NavigationManager navigationManager

    @code {
        private void Logout()
        {
            userService.Logout();
            navigationManager.NavigateTo("/login");
        }
    }
}